@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    width: 50%; /* Mantém o form na metade do container */
    height: 100%;
    position: absolute; /* Garante que o formulário respeite o posicionamento */
    left: 0;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container button {
    background-color: darkred;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%; /* Posicionado na metade direita do container */
    width: 50%; /* Ocupa metade da largura */
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1;
    border-radius: 150px 0 0 100px;
}

.toggle {
    background: linear-gradient(to right, #771515, darkred);
    height: 100%;
    width: 200%;
    position: relative;
    left: -100%; /* Garante que a borda do toggle inicie fora do container */
    transform: translateX(0%);
    transition: all 0.6s ease-in-out;
    color: #fff;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}

.container.active .form-container {
    transform: translateX(-100%);
}

.container.active .toggle-container {
    transform: translateX(-100%);
}

/* Ajustando texto e links */
.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
