body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    max-width: 600px;  
    width: 90%;       
    margin: 20px auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 24px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

label.checkbox{
    text-align: center;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; 
}

input:focus, select:focus, textarea:focus {
    border-color: #b51919; 
    outline: none; 
}

.submit-btn {
    width: 100%;
    background-color: #b51919;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #910a0a;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="file"] {
    margin-top: 10px;
    font-size: 14px;
}

p {
    margin-top: 20px;
    line-height: 1.6;
    color: #555;
}
